/* PILLS */
.tab-selector {
    display: flex;
    align-items: center;
    gap:30px;
  }
  
  .tab-button {
    padding: 10px 20px;
    font-size: 18px;
    color:white;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #222222;
  }
  
  .tab-button.active {
    background: rgba(145, 123, 76, 0.3);
    border-bottom: 1px solid white;
  }
  
  .tab-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:50px;
  }
  
  .hidden {
    display: none;
  }


  .tabs-style {
    display: flex;
    gap: 10px;
  }



  /* EVENT LIST CARDS */


  .card-event-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #917B4C;
    justify-content: flex-start;
  }


  .card-event-list-text {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 4px 0px 0px;
  }

  .ev-list-text-and-target {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 39px 22px;
gap: 6px;
max-width: 400px;

  }

  .event-target {
    background: #917B4C;
   width: 100%;
   text-align: center;
  }

  .card-event-list img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }


  @media (max-width:500px){
    .card-event-list {
      flex-wrap: wrap;
    }

    .card-event-list img {
      width: 100%;
      height:auto;
    }
  }

  .event-list-hero {
    background-image: url('/Users/evangeliachatzilygeroudi/Downloads/HCI SEMESTERs/2nd semester/Front-end/frontend-diafanies no1--html/ASSIGNEMNT1/frontend-Project1/images/event-list-hero.png');
    height: 350px;
    background-size: cover;
    background-position: center;
  }



  /* CERTAIN HOW MUSH TEXT CAN A CARD CONTAIN */
  .width-event-text {
    max-width: 300px;
  }


  /* BUTTON ON HOVER-EVENT CARD */

/* AUTOOOOO */
  
/* .card-event-and-butt {
  position: relative;
}


.card-event-list>div:hover{
  opacity:1;
 }


 .card-event-list>.other {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.2s linear;
}*/
 .other {
  display: none;
 }


 .card-event-list:hover{
	transform: scale(1.03);
	box-shadow: 2px 6px 30px #67676769;
  transition: 0.4s;
}
