.exhibition-des-hero{
    background-image: url('/Users/evangeliachatzilygeroudi/Downloads/HCI SEMESTERs/2nd semester/Front-end/frontend-diafanies no1--html/ASSIGNEMNT1/frontend-Project1/images/exhibition-des-hero.png');
    height: 350px;
    background-size: cover;
    background-position: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px;
}


@media (max-width:500px) {
#exh-image {
    width:100%;
}
}