.exhibition-des-hero{
    background-image: url('/images/exhibition-des-hero.png');
    height: 350px;
    background-size: cover;
    background-position: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px;
}


@media (max-width:500px) {
#exh-image {
    width:100%;
}
}
