

  /* NAV HEADER*/

  .nav-home.active {
    border-bottom: 2px solid #917B4C;
  }
  
  .nav-events.active {
    border-bottom: 2px solid #917B4C;
  }
  
  .nav-exhibitions.active {
    border-bottom: 2px solid #917B4C;
  }
  
  .nav-contact.active {
    border-bottom: 2px solid #917B4C;
  }
  

nav ul {
display: flex;
align-items: center;
gap:40px;
list-style-type: none;  
justify-content: center;
padding: 0;
padding: 26px 290px;
background: #282828;

/* fixed */
/* position: fixed;
top: 0;
width: 100%*/
  } 


  li a {
    font-size: 1.6rem;
    padding: 7px 10px;
  }

  #burger-menu {
    display: none;
      }


/* BURGER MENUU----- */

@media (max-width: 500px) {
  .site-header ul li:not(:first-child),
  .site-header .primary-button-black {
    display: none;
  }


  #burger-menu {
display: flex;
  }


  .logo {
    padding: 0px 0px 0px 0px;
  }


  nav ul {
    padding: 0;padding: 26px 60px;
  }
}



/* VERTICAL HUMBURGER header LIST */
.hamburger-list {
  z-index: 1;
  width: 100%;
  background-color: #101010;
  padding: 10px 0;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}




/* ANIMATIONS */
/* ANIMATION1 */
  .fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  

  /* ANIMATION2 */
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  

