




  

  
  
  /* search icon*/
  .search-icon {
    display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 14px;
  gap: 6px;
  
  background: #C18050;
  /* 
  position: absolute;
  height: 94px;
  left: -80px; */
  
  }
  
  .mycompany {
  display: flex;
  flex-direction: row;
  gap: 112px;
  flex-wrap: wrap;
  }
  
  
  
  .mycompany-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 9px;  */
    
  
    word-wrap: normal;
    margin: 0 auto;   
  }
  
  
  /* aristeri stixoish sta text */
  .mycompany-text p {
    width: 390px;
    padding: 5px;
  }
  
  .services {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 61px;
  gap: 10px;
  
  background: #FFFFFF;
  /* Shadow */
  
  box-shadow: 5px 4px 19px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  }
  
  
  .four-services {
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
  flex-wrap: wrap;
  }
  
  .two-services{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    flex-wrap: wrap;
  }
  

  


  /* SECTION 2--------------------------------------- */
/* paradeigma kartas me tag price */
.contai2 {
  position: relative;
}

.price-tag {
background-color: #29AE79;
color: white;
font-weight: normal;
border-radius: 3px;
padding: 10px;
position: absolute;
top: 10px;
right: 10px;
z-index: 100;
font-family: inter;
}
/* telos--paradeigma kartas me tag price */


.row .fotografies-kartes {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  padding: 73px 76px;
  gap: 91px;
  
  justify-content : center;

  /* border: 1px solid rgb(228, 55, 69); */
}

.card {
     /* layout */
     box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.08);
}


.card-text {
  font-size: 1.25rem;
}


.background-hereo {
  background-image: url('assets/images/photo-section.png');
  width: 100%;
  position: relative;
}






/* -------------------------------------NOT IN USAGE */
.small-titles {
  font-family: 'Syne', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CA5029;
  max-width: 420px;
 }

   .big-titles {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */
    color: #07474B;

    max-width: 420px;
   }

   .main-text {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;

    width: 415px;
    color: #000000;
   }


   .semi-titles {
    width: 37px;
    height: 25px;
    
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 25px;
    /* identical to box height */
    margin: 0;
    color: #07474B;
   }

/* -------------------------------------NOT IN USAGE */


/* TA εχω αντιγράψει στο καινούργιοοοοο */
/* 
.icon_and{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px;
  gap: 1px;
  } */




/* search options MOBILE */
/* @media (max-width: 500px) { .search-options {
  gap: 20px;
  align-items: center;
  }} */


  /* search options */
/* .search-options {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 34px;
  background: #ffffff;
  box-shadow: 1px 0px 41px rgba(0, 0, 0, 0.08);
  justify-content: space-around;
  gap: 80px;
  align-items: center;
  
  width:auto;
   
  position: absolute; */

  /* top:490px;
  left:120px; */


  /* top: 90%;
  left:15%;
  right: 15%;
  } */


     /* search and date )ex:Check in 17March */ */
     /* .search_and_date {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      } */