
.big-photo {
    grid-area: photolarge;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-1 {
   grid-area: photosmall1;
   width:20%;
}

.photo-2 {
    grid-area: photosmall2;
    width:20%;
 }

 .photo-3 {
    grid-area: photosmall3;
    width:20%;
 }

.photo-des {
    display:grid;
    grid-template-areas:
    "photosmall1 photolarge photolarge photolarge photolarge"
    "photosmall2 photolarge photolarge photolarge photolarge"
    "photosmall3 photolarge photolarge photolarge photolarge";
    grid-template-columns: ;
    gap:2%;
 
}

/* DEN FAINETAI SE ABSOLUTE POSITION PANW DEKSIA STI PHOTO TO TARGET STO WEB */
.date-target {
    display: none;
}

/* GRID CONTAINER */
/* .photo-des{
    border: 2px solid red;
    background-color: antiquewhite;
} */

.date-target#target-mobile {
    display: none;
}


@media (max-width:900px){

    .photo-des{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .relative-price-container{
        position: relative;
    }
    .photo-des img:nth-child(-n+3) {
       width:32%;
       margin-top:20px;
      }
      
      /* FAINETAI MONO STO KINITO SE ABSOLUTE THESI */
      .date-target#target-mobile {
        display: flex;
        transform: scale(0.7);
    }


}


/* GRID FOR ROOM DESCRIPTION */
.room-description {
    display:grid;
    grid-template-columns: 68% 32%;
    grid-template-areas:;
    gap:0.5%;
}

@media (max-width:800px){
    .room-description {
    display: flex;
    flex-wrap: wrap;
    }

}


/* ROOM AMENITIES */

.one-room-amenity {
    display: flex;
    gap:8px;
    align-items: center;
}

.room-amenities {
display: flex;
gap: 23px;
flex-wrap: wrap;
}


.info-categories {
display: flex;
gap:125px;
padding: 40px 0px 0px;
border-top: 1px solid #ACB4C6;
}


.included {
display: flex;
flex-direction: column;
gap: 48px;
}

/* POLICY 65% OPACITY */
.included div:last-child {
    opacity:0.65;
}

@media (max-width:800px){

    .info-categories {
        flex-direction: column;
        gap:20px;
        }

    /* .room-description {
        flex-wrap: wrap-reverse;
    } */


    #target-mobile.date-target{
    position: absolute;
    top: -4%;
    right: -5%;
    }
}



.date-selection {
    position:relative;
}


.search-options-production {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 91px 77px 70px;
    background: #EDEFED;

}

/* 2nd grid column content */
.date-selection-content{
display: flex;
justify-content: center;
}

.date-target {
    display: flex;
    flex-direction: column;
    padding: 8px 12px 12px 20px;
    gap: 5px;
    background: #FFFFFF;
    width: 130px;
    height: 91px;
    border-bottom: 0.2px solid rgba(6, 18, 66, 0.65);
    border-left: 0.2px solid rgba(6, 18, 66, 0.65);

    position:absolute;
    top: 0;
    right: 0;
}




/* TARGER IN MOBILE */
/* photo-des---position relative */



/* EMFANISH STICKY BUTTON MONO STO KINHTO */
.sticky-button {
   display: none;
}


@media (max-width:800px){

/* DE FAINETAI STO KIN TO DATE-SELECTION */
.date-selection-content{
    display: none;
}


/* STICKY BUTTON */
.sticky-container {
    position: relative;
}

.sticky-button {
    display: block;
    position: fixed;
  top: 40%; 
  right: 18%; 

  /* bottom:20%;
  right:18%; */
  
  z-index: 1; 
  animation: button-transition 3.5s ease-in-out infinite; /* add an animation with a duration of 1 second, easing function, and infinite repetition */
}

.sticky-button:hover {
    transform: scale(1.1); /* increase the scale of the button on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* add a subtle box shadow on hover */
  }


  /* @keyframes button-transition {
    0% {
      background-color: #413C39; 
    }
    50% {
      background-color: #D0DAD1;
    }
    100% {
      background-color: #D0DAD1; 
    }
    30% {
        background-color: #413C39;
      }
  } */
  @keyframes button-transition {
    0% {
      background-color: #413C39; /* initial button style */
      box-shadow: 0px 0px 0px 0px #413C39; /* initial box shadow */
    }
    50% {
      background-color: #b1b8b2; /* transitioned button style */
      box-shadow: 0px 0px 20px 10px #b1b8b2; /* add box shadow with a larger spread to create vibration illusion */
    }
    80% {
      background-color: #827d79; /* return to initial button style */
      box-shadow: 0px 0px 0px 0px #897d75; /* return to initial box shadow */
    }
  }


}

