
.reservation-form-hero {
    background-image: url('/Users/evangeliachatzilygeroudi/Downloads/HCI SEMESTERs/2nd semester/Front-end/frontend-diafanies no1--html/ASSIGNEMNT1/frontend-Project1/images/reservation-image.png');
    height: 500px;
    background-size: cover;
    background-position: center;
  }

/* #resevation-page.page-container {
justify-content: center;
align-items: center;
} */


#reservation-form.reserv-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}


label , .terms{
    font-size:1.3rem;
    }




    /* CHECKBOX */
.checkbox-text {
  display:flex;
  gap: 10px;
  align-items: center;
}


    /* .disabled-btn {
        opacity: 0.3;
    } */
    

    
    
    #my-form input[type=text], #my-form input[type=email] , #my-form input[type=phone], #my-form input[type=date], select, textarea {
      width: 100%;
      padding: 17px 10px;
      border: 1px solid #917B4C;
      background: #282828;
      margin-bottom: 10px;
      box-sizing: border-box;
      color: rgb(139, 139, 139);
      font-weight: normal;
    }

      /* #my-form input:valid {
        border-color: green;
        box-shadow: none;
      } */
   
    
    
      /* BUTTONS */
      #my-form input[type=submit] {
        border: none;
      }

      #my-form input[type=submit]:hover {
        background: #917B4C;
        color: white;
      }

      #my-form input[type=reset] {
        background: #222222;
        color: white;
      }
      #my-form input[type=reset]:hover {
        background: #917B4C;
        color: white;
      }
     


/* INPUT DATE ICON--CHANGE COLOR OR DISPLAY NONE*/
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
    /* display: none; */
  }

.select-event, .select-exhibition {
    display: flex;
    align-items: center;
    align-content: center;

}
    


/* FIELDS LAYOUT */

.form-layout {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    justify-content: center;
    }


.fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.two-fields .fields{
width: 50%;
}
.two-fields {
    display: flex;
    gap:25px;
}




      #my-form div {
        margin: 5px 0px;
      }